body {
	background-image: url('../images/wood.png');
	padding-top: 70px;
}

.form-control[disabled] {
	background: #FFF;
	cursor: not-allowed;
}

.well {
	background: #FFF;
}

.well-primary {
	border:1px solid rgb(50, 118, 177);
}

.btn {
	border-radius: 0;
	border:0;
}

.nav-tabs {
	border-bottom: 2px solid #FFF;
}
